In [1]:
import mysql.connector
from random import randint, choice

In [2]:
# Database configuration and connection

db_config = {
    'user': 'tournament_user',
    'password': 'tournament_pass',
    'host': 'localhost',
    'database': 'tournament_name'
}

conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

In [3]:
# Queries 

select_clubs_id = "SELECT id FROM clubs;" 

insert_coaches = "INSERT INTO coaches VALUES(NULL, %s, %s, %s)"

select_random_first_name = 'SELECT first_names.value FROM first_names ORDER BY RAND() LIMIT 1';
select_random_last_name = 'SELECT last_names.value FROM last_names ORDER BY RAND() LIMIT 1';

In [4]:
# Change databse and reconnect and create a new cursor 


db_config['database'] = 'tournament'

conn2 = mysql.connector.connect(**db_config)
cursor2 = conn2.cursor()

In [5]:
# Create a list of countries to be coach.nationality

countries = ['Brazil', 'Chile', 'Argentina', 'Uruguay', 'Portugal', 'Paraguay', 'Colombia', 'Venezuela' ]

In [6]:
# Select clubs id

cursor2.execute(select_clubs_id)
clubs = cursor2.fetchall()

In [7]:
# Create coaches and insert into the database 

for c in clubs:
    cursor.execute(select_random_first_name) # select a random first name
    f = cursor.fetchall()

    cursor.execute(select_random_last_name) # select a random last name
    l = cursor.fetchall()
    
    name = ' '.join([f[0][0], l[0][0]]) # define the name    
    
    nationality = choice(countries) # nationality
    
    birth = str(randint(1950, 1979)) # birth


    cursor2.execute(insert_coaches, [name, nationality, birth])

conn2.commit()

In [8]:
conn.close()
conn2.close()