In [1]:
import mysql.connector
import random

In [4]:
# Database configuration and connection

db_config = {
    'user': 'tournament_user',
    'password': 'tournament_pass',
    'host': 'localhost',
    'database': 'tournament'
}

conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

In [2]:
# Queries 

insert_contract = "INSERT INTO coach_contracts (start, end, salary, club_id, coach_id) VALUES(%s, %s, %s, %s, %s);"
select_coaches = "SELECT id FROM coaches;"
select_clubs = "SELECT id FROM clubs"

In [3]:
# Coaches creation clauses

start = '2022'
end = '2026'
salary = 100_000

In [6]:
# Select coaches and clubs

cursor.execute(select_coaches)
coaches = cursor.fetchall()

cursor.execute(select_clubs)
clubs = cursor.fetchall()

In [7]:
# Shuffle the data

random.shuffle(coaches)
random.shuffle(clubs)

In [8]:
# Create and inser data into the database

for _ in range(len(coaches)):
    club_id = clubs.pop()[0]
    coach_id = coaches.pop()[0]

    cursor.execute(insert_contract, [start, end, salary, club_id, coach_id])
conn.commit()

In [9]:
conn.close()